<div class="header header_color header_size">
    <div class="header_container">
        <span class="nav_name">
            <h1><a [routerLink]="'/'" class="name_text">David Mehoves</a></h1>
        </span>
        <div class="nav_bar">
            <span class="nav_button">
                <h3><a [routerLink]="'/'" class="nav_text">About</a></h3>
            </span>
            <span class="nav_button">
                <h3><a [routerLink]="'/'" class="nav_text">Portfolio</a></h3>
            </span>
            <span class="nav_button">
                <h3><a [routerLink]="'/'" class="nav_text">Skills</a></h3>
            </span>
            <span class="nav_button">
                <h3><a [routerLink]="'/'" class="nav_text">Certifications</a></h3>
            </span>
            <span class="nav_button">
                <h3><a [routerLink]="'/'" class="nav_text">Contact</a></h3>
            </span>
            <span class="nav_button">
                <h3><a [routerLink]="'/'" class="nav_text">CV</a></h3>
            </span>
        </div>
    </div>

</div>
