.header{
    width:100%;
    position: absolute;
    top: 0;
}
h1, h2, h3, h4 {
    display: inline;
}
h1, h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;

}
.header_color {
    background-color: #000000;
    opacity: 60%;
}
.name_text {
    color: var(--font-offset);
    text-decoration: none;
}
.header_size {
    min-height: 30px;
}
.header_container {
    display:grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-self:auto;

}
.nav_name {
    margin-top: auto;
    margin-bottom: auto;
}
.nav_button {
    padding-right: 10px;
    padding-left: 10px;
    justify-content: right;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav_button:hover {
    background-color: var(--font-offset);
    border-radius: 5px;
}
.nav_button:active {
    filter:opacity(80%);
}
.nav_bar {
    display: flex;
    justify-content: flex-end;
}
.nav_text {
    color: #007BFF;
    text-decoration: none;
}
